body {
    background-color: rgb(253, 251, 251);
}
#cabecalho{
    top: 0;   
}
#titulo{
    text-align: center;
}
#minha_foto{
     width: 250px;
     padding: 5px;
     margin: 5px;
     border-radius: 5%;
}
table, th, td {
    border:1px solid black;
    text-align: center;
}     